@import "tailwindcss";
@plugin "daisyui";


html{
    background-color: #0f0f0f;
}
.footer-headings::after{
    content: "";
    width: 70px;
    /* height:1px; */
    background: #ffb900;
    position: absolute;
    left: 0;
    top: 25px;
    /* border-radius: 50%; */
    border:1px solid #ffb900;
}

.product-headings::after{
    content: "";
    width: 70px;
    /* height:1px; */
    background: #ffb900;
    position: absolute;
   
    top: 45px;
    /* border-radius: 50%; */
    border:1px solid #ffb900;
    /* transform: translateX(-250%); */
    left:21px
}

.product-headings_1::after{
    content: "";
    width: 70px;
    /* height:1px; */
    background: #ffb900;
    position: absolute;
   
    top: 45px;
    /* border-radius: 50%; */
    border:1px solid #ffb900;
    transform: translateX(-250%);
}

.logo-mask {
  width: 100px;
  height: 100px;
  background: #FFD700; /* gold */
  -webkit-mask: url('/logo.png') no-repeat center;
  mask: url('/logo.png') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}
